In [ ]:
pip install recordlinkage

Collecting recordlinkage
  Downloading recordlinkage-0.14-py3-none-any.whl (944 kB)
     |████████████████████████████████| 944 kB 31.0 MB/s
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.4.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.1.5)
Collecting jellyfish>=0.5.4
  Downloading jellyfish-0.8.9.tar.gz (137 kB)
     |████████████████████████████████| 137 kB 56.8 MB/s
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.19.5)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (0.22.2.post1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from recordlinkage) (1.1.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->recordlinkage) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->recordlinkage) (1.15.0)
Building wheels for collected packages: jellyfish
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.8.9-cp37-cp37m-linux_x86_64.whl size=73212 sha256=3e85319f66203d2fc0584df4163dcd4388b73af0ea1c25eb165d1deac4b1ed94
  Stored in directory: /root/.cache/pip/wheels/32/a9/ef/5d8742e72deaf0d1de327a180d008c2c0299367581800ea73f
Successfully built jellyfish
Installing collected packages: jellyfish, recordlinkage
Successfully installed jellyfish-0.8.9 recordlinkage-0.14

In [ ]:
pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
pip install fuzzymatcher

Collecting fuzzymatcher
  Downloading fuzzymatcher-0.0.5-py3-none-any.whl (15 kB)
Collecting metaphone
  Downloading Metaphone-0.6.tar.gz (14 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (1.1.5)
Collecting python-Levenshtein
  Downloading python-Levenshtein-0.12.2.tar.gz (50 kB)
     |████████████████████████████████| 50 kB 7.7 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (2.8.2)
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.7/dist-packages (from fuzzymatcher) (0.18.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->fuzzymatcher) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->fuzzymatcher) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->fuzzymatcher) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein->fuzzymatcher) (57.4.0)
Building wheels for collected packages: metaphone, python-Levenshtein
  Building wheel for metaphone (setup.py) ... done
  Created wheel for metaphone: filename=Metaphone-0.6-py3-none-any.whl size=13919 sha256=33e803bf9473d10f1a32774735e72f02ab34736ad4658bbeb00d0525ca767244
  Stored in directory: /root/.cache/pip/wheels/1d/a8/cb/6f8902aa5457bd71344e00665c230e9c45255b3f57f2194a0f
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149854 sha256=7eda92c838a6016ad938122a63a70f1c0af24a9119044d68de3ea48017eae197
  Stored in directory: /root/.cache/pip/wheels/05/5f/ca/7c4367734892581bb5ff896f15027a932c551080b2abd3e00d
Successfully built metaphone python-Levenshtein
Installing collected packages: python-Levenshtein, metaphone, fuzzymatcher
Successfully installed fuzzymatcher-0.0.5 metaphone-0.6 python-Levenshtein-0.12.2

In [ ]:
import numpy as np
import pandas as pd
import recordlinkage
from pathlib import Path
import fuzzywuzzy as fw # works at python 3.6 ver.
import fuzzymatcher as fm # works at python 3.6 ver.

In [ ]:
base_socio = pd.read_excel('/content/Base Socios Activos al 21.08.21.xlsx',converters={'CODIGO_SOCIO':str,'NUMERO_DOCUMENTO':str},index_col = 'CODIGO_SOCIO')
base_socio.head()

               FPROCESO  CODIGOPERSONA  ... PRIMER_APELLIDO SEGUNDO_APELLIDO
CODIGO_SOCIO                            ...
35399        2021-08-23          35400  ...           CHING                .
33147        2021-08-23          33148  ...        YAMAUCHI         FUJIKAWA
42414        2021-08-23          42415  ...             LEE                .
36360        2021-08-23          36361  ...   VILLAVICENCIO         NAKAMOTO
36064        2021-08-23          36065  ...       RODRIGUEZ            NEYRA

[5 rows x 8 columns]

In [ ]:
base_socio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61644 entries, 35399 to 152848
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FPROCESO               61644 non-null  datetime64[ns]
 1   CODIGOPERSONA          61644 non-null  int64
 2   NUMERO_DOCUMENTO       61604 non-null  object
 3   TIPODOCID              59674 non-null  object
 4   NOMBRE_CLIENTE         61644 non-null  object
 5   PRIMER_SEGUNDO_NOMBRE  59674 non-null  object
 6   PRIMER_APELLIDO        59674 non-null  object
 7   SEGUNDO_APELLIDO       59501 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 4.2+ MB

In [ ]:
no_conciliados = pd.read_excel('/content/Depositos No conciliados al 08.11.2021.xlsx',converters={'IMPORTE':str})
no_conciliados.head()

  MONEDA         CUENTABANCO  ... IMPORTE                            GLOSA
0    SOL  0661-63-0200043647  ...     110     A/ PROVEEDO.CAMPOSUR INC SAC
1    SOL  0661-63-0200043647  ...      60    AGÜERO HAMAMOTO DAYANA MIYUKI
2    SOL  0661-63-0200043647  ...      40         AGUIRE HIGA AIDA DELFINA
3    SOL  0661-63-0200043647  ...     560  CALDERON BUITRON RENATO ALFREDO
4    SOL  0661-63-0200043647  ...      45   CAVERO ARCINIEGA CARLA LUZMILA

[5 rows x 6 columns]

In [ ]:
no_conciliados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MONEDA           468 non-null    object
 1   CUENTABANCO      468 non-null    object
 2   BANCO            468 non-null    object
 3   FECHAMOVIMIENTO  468 non-null    datetime64[ns]
 4   IMPORTE          468 non-null    object
 5   GLOSA            468 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 22.1+ KB

In [ ]:
no_conciliados['INDEX'] = no_conciliados.index
no_conciliados.head()

  MONEDA         CUENTABANCO  ...                            GLOSA INDEX
0    SOL  0661-63-0200043647  ...     A/ PROVEEDO.CAMPOSUR INC SAC     0
1    SOL  0661-63-0200043647  ...    AGÜERO HAMAMOTO DAYANA MIYUKI     1
2    SOL  0661-63-0200043647  ...         AGUIRE HIGA AIDA DELFINA     2
3    SOL  0661-63-0200043647  ...  CALDERON BUITRON RENATO ALFREDO     3
4    SOL  0661-63-0200043647  ...   CAVERO ARCINIEGA CARLA LUZMILA     4

[5 rows x 7 columns]

In [ ]:
no_conciliados.set_index('INDEX',inplace= True)
no_conciliados.head()

      MONEDA         CUENTABANCO  ... IMPORTE                            GLOSA
INDEX                             ...
0        SOL  0661-63-0200043647  ...     110     A/ PROVEEDO.CAMPOSUR INC SAC
1        SOL  0661-63-0200043647  ...      60    AGÜERO HAMAMOTO DAYANA MIYUKI
2        SOL  0661-63-0200043647  ...      40         AGUIRE HIGA AIDA DELFINA
3        SOL  0661-63-0200043647  ...     560  CALDERON BUITRON RENATO ALFREDO
4        SOL  0661-63-0200043647  ...      45   CAVERO ARCINIEGA CARLA LUZMILA

[5 rows x 6 columns]

In [ ]:
#Creacion de las indexaciones para el matching
indexer = recordlinkage.Index()
#Indexacion tipo block
indexer.block(left_on = 'GLOSA', right_on = 'NOMBRE_CLIENTE')
candidates_block = indexer.index(no_conciliados, base_socio)
print(len(candidates_block))

40

# Tipo de indexacion

In [ ]:
#indexacion tipo full
indexer = recordlinkage.Index()
indexer.full()
candidates_full = indexer.index(no_conciliados, base_socio)
print(len(candidates_full))

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.
28849392

In [ ]:
#indexacion tipo Neighbourhood
indexer = recordlinkage.Index()
indexer.sortedneighbourhood(left_on = 'GLOSA', right_on = 'NOMBRE_CLIENTE',window=5)
candidates_neigh = indexer.index(no_conciliados, base_socio)
print(len(candidates_neigh))

1725

In [ ]:
candidates_neigh

MultiIndex([(  0, 1201052),
            (  1,   34586),
            (  2, 1251837),
            (  3,   44722),
            (  4,  150547),
            (  5,  150523),
            (  6,   41319),
            (  7,   23255),
            (  9, 1200353),
            ( 10, 1201565),
            ...
            (458, 1258528),
            (459, 1250150),
            (460,  201625),
            (461,    5012),
            (462,  200715),
            (463,   26693),
            (464,    3205),
            (465,  202074),
            (466, 1600001),
            (467,  150840)],
           names=['INDEX', 'CODIGO_SOCIO'], length=1725)

In [ ]:
#Metodo de comparacion de las variables tipo Neighbourhood
compare = recordlinkage.Compare()
compare.string('GLOSA','NOMBRE_CLIENTE',threshold = 0.85,label = 'NOMBRE')
compare.string('GLOSA','NOMBRE_CLIENTE',
               threshold = 0.75,
               label = 'NOMBRE PRCT')
compare.string('GLOSA','PRIMER_SEGUNDO_NOMBRE',
               method= 'jarowinkler',
               threshold = 0.75,
               label = 'NOMBRES')
compare.string('GLOSA','PRIMER_APELLIDO',
               method= 'jarowinkler',
               threshold = 0.75,
               label = 'APELLIDO1')
compare.string('GLOSA','SEGUNDO_APELLIDO',
               method= 'jarowinkler',
               threshold = 0.75,
               label = 'APELLIDO')
features3 = compare.compute( candidates_neigh,no_conciliados, base_socio)

In [ ]:
features3.head()

                    NOMBRE  NOMBRE PRCT  NOMBRES  APELLIDO1  APELLIDO
INDEX CODIGO_SOCIO
0     1201052          0.0          0.0      0.0        0.0       0.0
1     34586            0.0          0.0      0.0        0.0       0.0
2     1251837          0.0          0.0      0.0        1.0       0.0
3     44722            0.0          0.0      0.0        1.0       0.0
4     150547           0.0          0.0      0.0        1.0       0.0

In [ ]:
features3.sum(axis =1).value_counts().sort_index(ascending=False)

4.0      5
3.0     60
2.0     47
1.0    683
0.0    930
dtype: int64

# Creando el score

In [ ]:
#CREACION DEL SCORE
potencial_matches = features3[features3.sum(axis=1)>1].reset_index()

In [ ]:
potencial_matches['score'] = potencial_matches.loc[:,'NOMBRE':'APELLIDO'].sum(axis=1)
potencial_matches.head(10)
#potencial_matches.shape

   INDEX  CODIGO_SOCIO  NOMBRE  ...  APELLIDO1  APELLIDO  score
0     31         13555     0.0  ...        1.0       1.0    3.0
1     57         30891     0.0  ...        1.0       1.0    2.0
2    245       1251593     0.0  ...        1.0       1.0    2.0
3    435         29894     0.0  ...        1.0       1.0    2.0
4    462          1243     0.0  ...        1.0       1.0    2.0
5     11         27055     0.0  ...        1.0       0.0    2.0
6     21         20666     1.0  ...        1.0       0.0    3.0
7     22         20666     1.0  ...        1.0       0.0    3.0
8     23         20666     1.0  ...        1.0       0.0    3.0
9     24         20666     1.0  ...        1.0       0.0    3.0

[10 rows x 8 columns]

# Ejemplo de matching: Glosa - Nombre_cliente

In [ ]:
no_conciliados.loc[23,:]

MONEDA                                  SOL
CUENTABANCO              0661-63-0200043647
BANCO                     Banco Continental
FECHAMOVIMIENTO         2018-10-24 00:00:00
IMPORTE                             2222.91
GLOSA              URUMA NAGATOME ALDO JUAN
Name: 23, dtype: object

In [ ]:
base_socio.loc[20666,:]

FPROCESO                       2021-08-23 00:00:00
CODIGOPERSONA                                20667
NUMERO_DOCUMENTO                          08224783
TIPODOCID                                   D.N.I.
NOMBRE_CLIENTE           URUMA NAGATOME, ALDO JUAN
PRIMER_SEGUNDO_NOMBRE                    ALDO JUAN
PRIMER_APELLIDO                              URUMA
SEGUNDO_APELLIDO                          NAGATOME
Name: 20666, dtype: object

In [ ]:
#Metodo de comparacion de las variables
compare = recordlinkage.Compare()
compare.string('GLOSA','NOMBRE_CLIENTE',threshold = 0.90,label = 'NOMBRE')
compare.string('GLOSA','NOMBRE_CLIENTE',
               threshold = 0.75,
               label = 'NOMBRE PRCT')
compare.string('GLOSA','PRIMER_SEGUNDO_NOMBRE',
               method= 'jarowinkler',
               threshold = 0.50,
               label = 'NOMBRE PRCT2')
features2 = compare.compute( candidates_neigh,no_conciliados, base_socio)

In [ ]:
features2

                    NOMBRE  NOMBRE PRCT  NOMBRE PRCT2
INDEX CODIGO_SOCIO
0     1201052          0.0          0.0           0.0
1     34586            0.0          0.0           0.0
2     1251837          0.0          0.0           1.0
3     44722            0.0          0.0           1.0
4     150547           0.0          0.0           1.0
...                    ...          ...           ...
463   26693            0.0          0.0           1.0
464   3205             0.0          0.0           1.0
465   202074           0.0          0.0           0.0
466   1600001          1.0          1.0           0.0
467   150840           0.0          0.0           1.0

[1725 rows x 3 columns]

In [ ]:
features2.sum(axis =1).value_counts().sort_index(ascending=False)

3.0     43
2.0     38
1.0    804
0.0    840
dtype: int64

In [ ]:
#CREACION DEL SCORE
potencial_matches2 = features2[features2.sum(axis=1)>1].reset_index()

In [ ]:
potencial_matches2['score'] = potencial_matches2.loc[:,'NOMBRE':'NOMBRE PRCT2'].sum(axis=1)
potencial_matches2.head(10)
#potencial_matches.shape

   INDEX  CODIGO_SOCIO  NOMBRE  NOMBRE PRCT  NOMBRE PRCT2  score
0     21         20666     1.0          1.0           1.0    3.0
1     22         20666     1.0          1.0           1.0    3.0
2     23         20666     1.0          1.0           1.0    3.0
3     24         20666     1.0          1.0           1.0    3.0
4     69        151281     1.0          1.0           1.0    3.0
5     81        201412     1.0          1.0           1.0    3.0
6    198        151871     1.0          1.0           0.0    2.0
7    267         38549     1.0          1.0           0.0    2.0
8    268         11366     1.0          1.0           0.0    2.0
9    299         41791     1.0          1.0           1.0    3.0

In [ ]:
no_conciliados.loc[81,:]

MONEDA                                                  SOL
CUENTABANCO                                  041-3000106330
BANCO              Banco Internacional del Peru - INTERBANK
FECHAMOVIMIENTO                         2021-05-24 00:00:00
IMPORTE                                                 100
GLOSA                        CASTAÑEDA ROJAS CLAUDIA FIOREL
Name: 81, dtype: object

In [ ]:
base_socio.loc[201412,:]

FPROCESO                              2021-08-23 00:00:00
CODIGOPERSONA                                      104442
NUMERO_DOCUMENTO                                 40448087
TIPODOCID                                          D.N.I.
NOMBRE_CLIENTE           CASTAÑEDA ROJAS CLAUDIA FIORELLA
PRIMER_SEGUNDO_NOMBRE                    CLAUDIA FIORELLA
PRIMER_APELLIDO                                 CASTAÑEDA
SEGUNDO_APELLIDO                                    ROJAS
Name: 201412, dtype: object

In [ ]:
#MEJORA DE VISUALIZACION DE RESULTADOS
#Añadir algunas columnas para compara la data

no_conciliados['NAME_COMPARE_NC'] = no_conciliados[['GLOSA','IMPORTE']].apply(lambda x: ' _ '.join(x),axis=1)

In [ ]:
base_socio['NAME_COMPARE_BS'] = base_socio[['NOMBRE_CLIENTE']].apply(lambda x: ' _ '
.join(x),axis=1)

In [ ]:
no_conciliados_lookup = no_conciliados[['NAME_COMPARE_NC']].reset_index()
base_socio_lookup = base_socio[['NAME_COMPARE_BS']].reset_index()

In [ ]:
no_conciliados_lookup.head()

   INDEX                        NAME_COMPARE_NC
0      0     A/ PROVEEDO.CAMPOSUR INC SAC _ 110
1      1     AGÜERO HAMAMOTO DAYANA MIYUKI _ 60
2      2          AGUIRE HIGA AIDA DELFINA _ 40
3      3  CALDERON BUITRON RENATO ALFREDO _ 560
4      4    CAVERO ARCINIEGA CARLA LUZMILA _ 45

In [ ]:
base_socio_lookup.head()

   CODIGO_SOCIO                  NAME_COMPARE_BS
0         35399                 CHING , ÑAU YENG
1         33147     YAMAUCHI FUJIKAWA, KATSUHIRO
2         42414                   LEE , MEEKYUNG
3         36360    VILLAVICENCIO NAKAMOTO ROMINA
4         36064  RODRIGUEZ NEYRA, LUIS GUILLERMO

In [ ]:
compare_merge = potencial_matches.merge(no_conciliados_lookup,how = 'left')
compare_merge.head()

   INDEX  CODIGO_SOCIO  ...  score                             NAME_COMPARE_NC
0     31         13555  ...    3.0                 HIRATA HIRATA ISABEL _ 2380
1     57         30891  ...    2.0          ARCE ARANIBAR, HUDSON ORLANDO _ 50
2    245       1251593  ...    2.0        FLORES FLORES OSCAR GUILLERMO _ 3000
3    435         29894  ...    2.0  TORRES TORREJON DE OTANI MAERI ESTHE _ 150
4    462          1243  ...    2.0              YTO TAIRA NANCY ROSA _ 5523.94

[5 rows x 9 columns]

In [ ]:
compare_merge = potencial_matches.merge(base_socio_lookup,how = 'left')
compare_merge.head()

   INDEX  CODIGO_SOCIO  NOMBRE  ...  APELLIDO  score                NAME_COMPARE_BS
0     31         13555     0.0  ...       1.0    3.0            HIRATA HIRATA MALLY
1     57         30891     0.0  ...       1.0    2.0      ARCE ARCE, LUISA MELCHORA
2    245       1251593     0.0  ...       1.0    2.0  FLORES FLORES SHEYLA VICTORIA
3    435         29894     0.0  ...       1.0    2.0  TORRES TORRES, CARLOS ENRIQUE
4    462          1243     0.0  ...       1.0    2.0              YTO YTO JUAN LUIS

[5 rows x 9 columns]

In [ ]:
final_merge = compare_merge.merge(no_conciliados_lookup, how = 'left')
final_merge.head()

   INDEX  ...                             NAME_COMPARE_NC
0     31  ...                 HIRATA HIRATA ISABEL _ 2380
1     57  ...          ARCE ARANIBAR, HUDSON ORLANDO _ 50
2    245  ...        FLORES FLORES OSCAR GUILLERMO _ 3000
3    435  ...  TORRES TORREJON DE OTANI MAERI ESTHE _ 150
4    462  ...              YTO TAIRA NANCY ROSA _ 5523.94

[5 rows x 10 columns]

In [ ]:
final_merge2 = final_merge.merge(no_conciliados, how = 'left')
final_merge2.head()

   INDEX  CODIGO_SOCIO  ...  IMPORTE                                 GLOSA
0     31         13555  ...     2380                  HIRATA HIRATA ISABEL
1     57         30891  ...       50         ARCE ARANIBAR, HUDSON ORLANDO
2    245       1251593  ...     3000         FLORES FLORES OSCAR GUILLERMO
3    435         29894  ...      150  TORRES TORREJON DE OTANI MAERI ESTHE
4    462          1243  ...  5523.94                  YTO TAIRA NANCY ROSA

[5 rows x 16 columns]

In [ ]:
final_merge2.to_excel('BD Conciliados 20211109v0.xlsx',index=False)

# ALGORITMO FUZZYMATCHER

In [ ]:
# Columnas para match left
left_on = ["NOMRE_CLIENTE"]

# Columnas para match right
right_on = ["GLOSA"]